<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/terminal.css">
</head>

<body>

<header class="terminal-header">
<div class="prompt">
  <span class="user">$</span>
  <a href="/" class="cmd-link" aria-label="Return to homepage">./supra</a>
</div>
  </div>
  <div class="boot">
    <div>[+] loading writeups...</div>
    <div>[+] ready</div>
  </div>
</header>

<main class="terminal-content">
  {{ content }}
</main>

<footer class="terminal-footer">
  <span>supra@ctf ~ %</span>
</footer>

</body>
</html>
